# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1.Python

2.R

3.SQL

Some of the commonly used libraries used by Data Scientists include:

1.Numpy

2.Pandas

3.Matplotlib

4.Tensorflow

5.scikit-Learn

**Objectives:**

-Popular languages for Data Scientists

-Common libraries used by Data Scientists

-Popular Data Science tools

| Data Science Tools |
| ------------------- |
| Jupyter Notebooks |
| Tensorflow |
| tableu |
| Apache Spark |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [3]:
# This a simple arithmetic expression to multiply, then add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
John Peter